/* .flex-container {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    
    height: 80vh;
    } */

.sidebar {
    background: #80d6ff;
    border-right: solid #0077c2 1px;
}

.title {
    text-align: center;
    width: 100%;

    margin: 0;
    padding: 15px 0px 15px 0px;

    color: white;
    background: #0077c2;
}

.header {
    padding: 10px 0px 0px 0px;
    margin: 0;
    
    text-align: center;
    color:white;
    }

ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}   

.list-box {
    padding: 5px 15px;
    margin: 15px 15px;

    border-radius: 2px;

    background: white;
}

.header-small {
    margin-top: 10px;
    font-weight: 600;

    line-height: 1.6;
}

.limit-list {
    padding: 5px;
    margin: 5px;

    border-radius: 2px;
}

.item{
    padding: 0px 10px 0px 10px;
    background: white;

    justify-content: space-between;
    display: flex;
}

.item-amount {
    display: inline;
}

.item:not(:first-child) {
    border-top: 1px solid lightgray;
    /* border-bottom: 1px solid lightgray; */
}

.ingredient:hover{
    background: rgba(0, 0, 0, 0.05);
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;
    }

.flex-item:nth-child(1) {
    order: 0;
    flex-basis: 25%;
    flex: .30 1 auto;
    align-self: stretch;
    }

.flex-item:nth-child(2) {

    order: 0;
    flex-basis: 25%;
    flex: .30 1 auto;
    align-self: stretch;
    }

.flex-item:nth-child(3) {
    order: 0;
    flex: 0 1 100%;
    align-self: stretch;
    }