<jw-modal id="pref-modal">
    <h3>{{prefUser.name}}'s Preferences</h3>
    <p>Which ingredients do you not eat?</p>
    <form>
    <ng-select name="prefs"
      [items]="allPrefs$ | async"
      [multiple]="true"
      bindLabel="name"
      [closeOnSelect]="false"
      bindValue="id"
      [(ngModel)]="selectedItems"
      (add)="onAdd($event)">
      <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
        <input id="item-{{index}}" name="itemName" type="checkbox" [ngModel]="item$.selected"/> {{item.name}}
      </ng-template>
    </ng-select>
    </form>
  </jw-modal>

  <!-- <jw-modal id="add-participant">
      <h3>Add Participant</h3>
      <form [formGroup]="">
          <ng-multiselect-dropdown
          name="limit"
          [placeholder]="'Select Dietary Limits'"
          [data]="limits"
          formControlName="limits"
          [settings]="dropdownSettings"
          (onSelect)="onItemSelect($event)">
      </ng-multiselect-dropdown>
      </form>
    </jw-modal> -->

<div class="container">

  <div class="flex-item sidebar">
    <h2 class="title">{{meal.date | date}}</h2>
    <h2 class="header">Participants</h2>

    <ul class="list">
      <li class="list-box" *ngFor="let person of meal.participants">
        <div class="person-top">
          <img class="person-avatar" src="{{person.image}}" alt="">
          <span class="header-small">{{person.name}}</span>
          <button class="button right" (click)="edit(person)"><i class="material-icons md-18 right">create</i></button>
        </div>
        <div class="person-bottom" *ngIf="person.foodRestrictions.length > 0">
          <span class="header-small">Limits</span>
          <ul class="limit-list">
            <li *ngFor="let restriction of person.foodRestrictions" class="item_grid-container">
              <span>{{restriction.name}} </span>
            </li>
          </ul>
        </div>
      </li>
      <button class="button button-wide">Add Participant</button>
    </ul>

  </div>

  <div class="flex-item sidebar">
    <h2 class="title">{{meal.recipe.name}}</h2>
    <h2 class="header">Ingredients</h2>

    <div class="list-box">
      <ul class="limit-list" *ngIf="meal.recipe.ingredients.length > 0">
        <li class="item_grid-container" *ngFor="let ingredient of meal.recipe.ingredients" title="{{ingredient.amount}} {{ingredient.unit}} {{ingredient.name}}">
          <span>{{ingredient.name}} </span> <span> {{ingredient.amount}} {{ingredient.unit}}</span>
        </li>
      </ul>
    </div>
    <button class="button button-wide">Add Ingredient</button>

  </div>

  <div class="flex-item">
    <h2 class="title">Preparation</h2>
    <div class="preparation-box">
      <h3>{{meal.recipe.name}}</h3>
      <p>{{meal.recipe.description}}</p>
    </div>
    <div class="button_grid-container">
      <button class="button button-wide">Edit Recipe</button>
      <button class="button button-wide">New Recipe</button>
    </div>
  </div>
</div>