<jw-modal id="pref-modal">
  <h3>{{prefUser.name}}'s Preferences</h3>
  <p>Which ingredients do you not eat?</p>
  <form>
    <mat-form-field>
      <mat-select multiple placeholder="Ingredients" [(value)]="selectedIngredients">
        <mat-option *ngFor="let ingredient of ingredientList" [(value)]="ingredient">{{ingredient.name}}</mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-button (click)="savePreferences()">Save</button>
  </form>
</jw-modal>

<jw-modal id="add-participant-modal">
  <h3>Add Participant</h3>
  <form>
    <table>
      <tr>
        <mat-button-toggle-group [(value)]="selectedUserType">
          <mat-button-toggle value="existing">Existing</mat-button-toggle>
          <mat-button-toggle value="new">New</mat-button-toggle>
        </mat-button-toggle-group>
      </tr>
      <tr>
        <mat-form-field *ngIf="selectedUserType == 'existing'">
          <mat-select placeholder="person" [(value)]="selectedUser">
            <mat-option *ngFor="let person of personList" [(value)]="person">{{person.name}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field *ngIf="selectedUserType == 'new'">
          <input name="name" [formControl]="nameFormControl" matInput value="{{userNameInput}}" placeholder="Name">
        </mat-form-field>
      </tr>
      <tr>
        <button mat-button (click)="addParticipant()">Save</button>
      </tr>
    </table>
  </form>
</jw-modal>

<div class="container">
  <h2 class="title">{{meal.date | date}}</h2>

  <mat-tab-group>
    <mat-tab label="Participants">
      <div class="flex-item sidebar">
        <ul>
          <li *ngFor="let person of meal.participants">
            <mat-card class="card-margin">
              <mat-card-title>{{person.name}}
                <button mat-icon-button color="accent" class="button right" (click)="updateUsers(person)"><i class="material-icons md-18 right">delete</i></button>
                <button mat-icon-button color="accent" class="button right" (click)="edit(person)"><i class="material-icons md-18 right">create</i></button>
              </mat-card-title>
              <mat-card-subtitle>Dietary exceptions</mat-card-subtitle>
              <mat-card-content>
                <mat-list class="limit-list">
                  <mat-list-item *ngFor="let restriction of person.foodRestrictions" class="item_grid-container">
                    <p>{{restriction.name}} </p>
                    <mat-divider></mat-divider>
                  </mat-list-item>
                </mat-list>
              </mat-card-content>
            </mat-card>
          </li>
          <button mat-raised-button color="primary" class="fullwidth" (click)="addPersonModal(person)">Add Participant</button>
        </ul>
      </div>
    </mat-tab>

    <mat-tab label="Ingredients">
      <div class="flex-item sidebar">
        <mat-card class="card-margin">
          <mat-card-content>
            <ul class="limit-list" *ngIf="meal.recipe.ingredients.length > 0">
              <li class="item_grid-container" *ngFor="let ingredient of meal.recipe.ingredients" title="{{ingredient.amount}} {{ingredient.unit}} {{ingredient.name}}">
                <table class="fullwidth">
                  <tr>
                    <td style="text-align: left">{{ingredient.name}}</td>
                    <td style="text-align: right">{{ingredient.amount}} {{ingredient.unit}}</td>
                  </tr>
                </table>
                <mat-divider></mat-divider>
              </li>
            </ul>
          </mat-card-content>
        </mat-card>
        <button mat-raised-button color="primary" class="fullwidth">Add Ingredient</button>
      </div>
    </mat-tab>

    <mat-tab label="Preparation">
      <div class="sidebar">
        <mat-card class="card-margin">
          <mat-card-title>{{meal.recipe.name}}</mat-card-title>
          <mat-card-content>{{meal.recipe.description}}</mat-card-content>
        </mat-card>

        <table class="fullwidth">
          <tr>
            <td>
              <button mat-raised-button color="primary" class="fullwidth button-double-left">Edit Recipe</button>
            </td>
            <td>
              <button mat-raised-button color="primary" class="fullwidth button-double-right">New Recipe</button>
            </td>
          </tr>
        </table>
        <!-- <div class="button_grid-container">
          <button mat-raised-button color="primary" class="fullwidth">Edit Recipe</button>
          <button mat-raised-button color="primary" class="fullwidth">New Recipe</button>
        </div> -->
      </div>
    </mat-tab>

  </mat-tab-group>
</div>