/* .flex-container {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    
    height: 80vh;
    } */

.container {
    height: 80vh;
}

.sidebar {
    padding: 5px;
    background: #e1e2e1;
    border-right: solid #673ab7 1px;
}

.title {
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 15px 0px 15px 0px;
    color: white;
    background: #673ab7;
}

.header {
    padding: 10px 0px 0px 0px;
    margin: 0;
    text-align: center;
    color: white;
}

ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.list-box {
    padding: 5px 15px;
    margin: 15px 15px;
    border-radius: 2px;
    background: white;
}

.header-small {
    margin-top: 10px;
    font-weight: 600;
    line-height: 1.6;
}

.item {
    padding: 0px 10px 0px 10px;
    background: white;
    justify-content: space-between;
    display: flex;
}

.item-amount {
    display: inline;
}

.ingredient:hover {
    background: rgba(0, 0, 0, 0.05);
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;
}

.preparation-box {
    padding: 0px 20px;
}

.button_grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: ". .";
    height: 0 16px;
}

.card-margin {
    margin-bottom: 5px;
}

.fullwidth {
    width: 100%;
}

.button-double-left {
    margin-right: 2px;
}
.button-double-right {
    margin-left: 2px;
}