<div class="flex-container">

    <div class="flex-item">
        <h2 class="title">{{meal.date | date}}</h2>
        <h2 class="participants">Participants</h2>
        <ul class="person-list">
            <li class="person" *ngFor="let person of meal.participants">
                <mat-card>
                    <mat-card-title class="person-name">{{person.name}}</mat-card-title>
                    <button class="button right"><i class="material-icons md-18 right">create</i></button>
                    <div class="person-bottom" *ngIf="person.foodRestrictions.length > 0">
                        <span class="person-limits">Limits</span>
                        <ul class="person-limit-list">
                            <li *ngFor="let restriction of person.foodRestrictions">
                                <span>{{restriction.name}}</span> <span style="float:right">{{restriction.amount}}</span>
                            </li>
                        </ul>
                    </div>
                </mat-card>

            </li>
            <button class="button button-wide">Add Participant</button>
        </ul>
    </div>

    <div class="flex-item">
        <div class="recipe-sidebar">
            <h2 class="title">{{meal.recipe.name}}</h2>
            <h2 class="ingredients">Ingredients</h2>
            <div class="recipe-list">
                <div class="recipe">
                    <ul class="recipe-limit-list" *ngIf="meal.recipe.ingredients.length > 0">
                        <li class="ingredient" *ngFor="let ingredient of meal.recipe.ingredients">
                            <span>{{ingredient.name}}</span> <span style="float:right">{{ingredient.amount}}</span>
                        </li>
                    </ul>
                </div>
                <button class="button button-wide">Add Ingredient</button>
            </div>
        </div>
    </div>

    <div class="flex-item">
        <h2 class="title">Preparation</h2>
        <p>{{meal.recipe.description}}</p>
    </div>

</div>