.title {
    text-align: center;
    width: 100%;

    margin: 0;
    padding: 15px 0px 15px 0px;

    color: white;
    background: #0077c2;
}


.participants {
    padding: 10px 0px 0px 0px;
    margin: 0;
    
    text-align: center;
    color:white;
    }

.person-list {
    padding: 0px 15px 0px 15px;
}

ul {
    list-style: none;
}

.person-avatar {
    width: 30px;
    height: 30px;

    border-radius: 50%;
    
    background: #84a6bb;
}

.person-name {
    padding: 0px 0px 0px 10px;
    margin: 0;
    line-height: 30px;

    vertical-align: top;

    display: inline;
}

.person {
    padding: 5px;
    margin-bottom: 5px;

    background: White;
    border-radius: 2px;
}

.person-limit-list{
    padding: 5px;

    width: auto;
}

.person-limits{
    padding-left: 10px;
    font-weight: bold;
}

.person-limit-list li{
    padding: 0px 10px 0px 10px;
    background: white;   
}

.person-limit-list li:not(:first-child):not(:last-child) {
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

.person-limit-list li:hover{
    background: rgba(0, 0, 0, 0.05);
}

.button {  
    border:none;

    text-align: center;

    background-image: none;
    background: white;
}

.button-wide {
    width: 100%;
    height: 30px;
    
    border-radius: 2px;
    
    font-size: 22;
    font-weight: bold;
    line-height: 30px;
}

.button:hover{
    background: rgb(242.25, 242.25, 242.25);
}

.button:active { border-top-width: 0; }